@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

$purple : #9370DB;
$blue: #7B68EE;
$green : #00FF7F;
$gold : #FFEC8B;
$offWhite: #FFFAFA;
$red: #DC143C;


html, body {
  font-family: 'Lora', serif;
  background: $offWhite;
}

